 <!-- MODAL EDITAR --> 
 <div class="modal fade" id="editEducacionModal" tabindex="-1" aria-labelledby="editEducacionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" [formGroup]="form" (ngSubmit)="enviar()" novalidate name="editForm">
            <div class="modal-body">
                <div class="mb-3">
                <label for="logo" class="col-form-label">Editar imagen Institución:</label>
                <input type="url" class="form-control" id="logo" placeholder="Ingresá la URL" formControlName="logo">
                </div>
                <span *ngIf="campoValido('logo')" class="text-danger">Se debe completar con la URL de una imagen</span>

                <div class="mb-3">
                <label for="web" class="col-form-label">URL Institución:</label>
                <input type="url" class="form-control" id="web" placeholder="Ingresá la URL de la web institucional" formControlName="web">
                </div>
                <span *ngIf="campoValido('web')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                <label for="titulo" class="col-form-label">Editar Titulo:</label>
                <input type="text" class="form-control" id="titulo" placeholder="Puesto laboral" formControlName="titulo">
                </div>
                <span *ngIf="campoValido('titulo')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                <label for="inicio" class="col-form-label">Editar Fecha Inicio:</label>
                <input type="date" class="form-control" id="inicio" formControlName="inicio">
                </div>
                <span *ngIf="campoValido('inicio')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                <label for="fin" class="col-form-label">Editar Fecha Finalizacion:</label>
                <input type="date" class="form-control" id="fin" formControlName="fin">
                </div>
                <span *ngIf="campoValido('fin')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                <label for="descripcion" class="col-form-label">Editar descripcion:</label>
                <textarea class="form-control" id="descripcion" formControlName="descripcion"></textarea>
                </div>
                <span *ngIf="campoValido('descripcion')" class="text-danger">Es requerido</span>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">GUARDAR</button>
            </div>            
        </form>
    </div>
    </div>
</div>