  <!-- SECCION ENCABEZADO   -->

  <section id="inicio" class="inicio">
    <!-- HEADER - NAVBAR -->
<header id="navegacion">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <!-- LOGO -->
            <img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png" alt="logo Argentina Programa" width="120px" height="90px">

            <!-- ICONO MENU -->
            <button class="navbar-toggler" id="buttonresponsive" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- MENU -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto">
                    <li class="navbar-item">
                        <a href="#inicio" class="nav-link active">INICIO</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#sobremi" class="nav-link">SOBRE MI</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#experiencia" class="nav-link">EXPERIENCIA</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#educacion" class="nav-link">EDUCACION</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#habilidades" class="nav-link">HABILIDADES</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#proyectos" class="nav-link">MIS PROYECTOS</a>
                    </li>
                </ul>
                <!--LINEA DIVISORIA -->
                <hr class="text-white-50">

                <!-- ENLACES A REDES SOCIALES -->
                <ul class="navbar-nav flex-row flex-wrap" id="redes">
                    <li class="navbar-item col-6 col-md-auto p-3">
                    <a href="https://github.com/GimeDiStefanoN" target="_blank" rel="github"><i class="bi bi-github"></i></a> 
                    <small class="d-lg-none ms-2">GitHub</small>
                    </li>
                    <li class="navbar-item col-6 col-md-auto p-3">
                        <a href="https://www.linkedin.com/in/gimena-di-stefano-nicolina/" target="_blank" rel="linkedin"><i class="bi bi-linkedin"></i></a> 
                        <small class="d-lg-none ms-2">Linkedin</small>
                    </li>
                </ul>

                <!-- BOTON INICIO DE SESION -->
                <ul class="navbar-nav flex-row flex-wrap text-light" id="sesion">
                    <app-login></app-login>
                    <app-logout></app-logout>   
                </ul>
            </div>
        </div>
    </nav>
</header>
</section>
