@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&display=swap');

/* BODY */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* SECCION ENCABEZADO */

.inicio {
  background: url("./assets/banner_portfolio.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.contenido-header{
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

#nav ul li a{
  text-decoration: none;
  color: white;
  margin: 0 12px;
  font-weight: 1000;
  transition: 0.5s;
}
#nav ul li a:hover{
  color: blueviolet;
}

.redes a{
  margin: 0 10px;
}
.redes a:hover{
  color: blueviolet;
}

.github, .linkedin{
  font-size: 30px;
}

#icono-nav{
  color: white;
  display: none;
}

.presentacion{
  max-width: 1100px;
  height: 100vh;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bienvenida{
  font-size: 2vw;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.descripcion h1{
  font-size: 3vw;
}
.descripcion span{
  font-size: 4vw;
  font-weight: bold;
  color: rgb(228, 21, 62);
}

.tituloPresentacion{
padding: 2vw;
}

.frase{
  font-size: 2vw;
  font-family: cursive;
  padding-right: 10vw;
}

/* SECCION LOGIN */
#login{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,  blueviolet, pink );
  height: 100vh;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: white;
  border-radius: 10px;
}

.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom:  1px solid silver;
  margin-top: 35px;
}

.center form{
  padding: 0 30px;
  box-sizing: border-box;
}

form .formulario{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formulario input{
  width: 150%;
  padding: 0 15px;
  height: 50px;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
}


.formulario label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 28px;
  transition: .5s;
  pointer-events: none;
}


.pass{
  margin: 30px 0 20px 5px;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}

#btn-login{
  width: 100%;
  height: 50px;
  cursor: pointer;
  outline: none;
  margin: 15px;
}
/* SECCION SOBRE MI */

#sobremi{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: black;
  display: flex;
  flex-direction: row;
}

.contenedor-foto{
  max-width: 500px;
  margin-right: 65px;
}

.contenedor-foto img{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
}

.descripcion{
  margin: 0 20px;
}

.titulo-seccion{
  font-size: 30px;
  text-decoration: underline 5px;
  text-decoration-color: rgb(190, 190, 190);
}

.nombre-completo{
  font-size: 3,5vw;
  font-weight: bold;
  margin: 25px 5px;
  letter-spacing: 3px;
}
.nombre-completo span{
  color: rgb(243, 8, 51);
}

.titulo{
  font-size: 2,5vw;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.text-descripcion{
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 12px;
}

/* SECCION MIS EXPERIENCIAS */

#experiencia{
  padding: 100px 15px;
  text-align: center;
  background-color: rgb(233, 213, 252);
}

.card{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 30px auto;
  font-size: 18px;
}

.card-title{
  font-size: 24px;
  padding-top: 30px;
}
.card-img-top{
  min-height: 200px;
}

.fecha{
  padding: 15px;
  font-size: 15px;
}

.card:hover{
  box-shadow: 5px 5px 10px grey, -5px -5px 10px rgb(184, 182, 182);
}

/* SECCION EDUCACION */

#educacion{
  padding: 100px 15px;
  text-align: center;
  background-color: rgb(240, 236, 236);
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 80px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid blueviolet;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.title-educacion{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;

}

.logo-educacion{
  margin-right: 20px;
}

.fecha{
  display: flex;
  justify-content: end;
  font-weight: bold;
}

/* SECCION HABILIDADES */

#habilidades{
  padding: 100px 15px;
  text-align: center;
  background: linear-gradient(45deg, blueviolet, pink);
}

#habilidades ul.col3{
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
}

#listaHabilidades{
 display: flex;
 flex-direction: row;

}

#habilidades .nav-link{
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

#habilidades .nav-link:hover{
  color: blueviolet;
}


.contenedorDuras, .contenedorBlandas, .contenedorIdiomas{
  display: none;
  padding: 10px;
}
#duras:hover .contenedorDuras, #blandas:hover .contenedorBlandas, #idiomas:hover .contenedorIdiomas { display:block }


h3{
  padding: 10px;
}

/* SECCION PROYECTOS */

#proyectos{
  padding: 100px 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#proyectos .card{
  filter: grayscale(1);
}
#proyectos .card:hover{
  filter: grayscale(0);
}

.buttons{
  display: flex;
  justify-content: center;
}

#codigo, #demo{
  margin: 35px;
}

/* SECCION FOOTER */

.footer{
  background-color: black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.copy{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  margin:10px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:1134px){
 .footer{justify-content: center}

  #nav ul{display: none;}

  #icono-nav{
    display: block;
  }

  #nav.responsive{
    display: block;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    padding: 35px 0;
    font-size: 16px;
  }

  #nav.responsive ul{
    display: block !important;
    text-align: center;
  }
 
  #nav.responsive ul li{
    margin: 20px 0;
  }

  #sobremi{
    padding: 50px 0;
    display: block;
    }

    .contenedor-foto img{
      display: flex;
      flex-direction: column;
      margin-left: 20vw;
    }
    .titulo-seccion, .nombre-completo, .titulo{
      text-align: center;
      margin-top: 10px;
    }

    #proyectos{
      display: flex;
      flex-direction: column;
    }

    #proyectos .card{
      justify-content: center;
    }
  }

  @media(hover:hover){
    #duras:hover .contenedorDuras, #blandas:hover .contenedorBlandas, #idiomas:hover .contenedorIdiomas { display:block }

  }