@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&display=swap');

/* BODY */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* SECCION ENCABEZADO */

.inicio {
  background: url("./assets/banner_portfolio.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.contenido-header{
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

#nav ul li a{
  text-decoration: none;
  color: white;
  margin: 0 12px;
  font-weight: 1000;
  transition: 0.5s;
}
#nav ul li a:hover{
  color: blueviolet;
}

.redes a{
  margin: 0 10px;
}
.redes a:hover{
  color: blueviolet;
}

.github, .linkedin{
  font-size: 30px;
}

#icono-nav{
  color: white;
  display: none;
}

.presentacion{
  max-width: 1100px;
  height: 100vh;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bienvenida{
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.descripcion h1{
  font-size: 75px;
}

.descripcion span{
  font-size: 45px;
  font-weight: bold;
  color: rgb(228, 21, 62);
}

.tituloPresentacion{
padding: 15px;
}

.frase{
  font-size: 24px;
  font-family: cursive;
}


/* SECCION SOBRE MI */

#sobremi{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: black;
  display: flex;
}

.contenedor-foto{
  max-width: 500px;
  margin-right: 65px;
}

.contenedor-foto img{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
}

.descripcion{
  margin: 0 20px;
}

.titulo-seccion{
  font-size: 30px;
  text-decoration: underline 5px;
  text-decoration-color: rgb(190, 190, 190);
}

.nombre-completo{
  font-size: 40px;
  font-weight: bold;
  margin: 25px 5px;
  letter-spacing: 3px;
}
.nombre-completo span{
  color: rgb(243, 8, 51);
}

.titulo{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.text-descripcion{
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 12px;
}

/* SECCION MIS EXPERIENCIAS */

#experiencia{
  padding: 100px 15px;
  text-align: center;
  background-color: rgb(233, 213, 252);
}

.card{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
  font-size: 18px;
}

.card-title{
  font-size: 24px;
  padding-top: 30px;
}
.card-img-top{
  min-height: 200px;
}

.fecha{
  padding: 15px;
  font-size: 15px;
}

.card:hover{
  box-shadow: 5px 5px 10px grey, -5px -5px 10px rgb(184, 182, 182);
}

/* SECCION EDUCACION */

#educacion{
  padding: 100px 15px;
  text-align: center;
  background-color: rgb(240, 236, 236);
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 80px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid blueviolet;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.title-educacion{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;

}

.logo-educacion{
  margin-right: 20px;
}

.fecha{
  display: flex;
  justify-content: end;
  font-weight: bold;
}

/* SECCION HABILIDADES */

#habilidades{
  padding: 100px 15px;
  text-align: center;
  background: linear-gradient(45deg, blueviolet, pink);
}

#habilidades ul.col3{
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
}

#listaHabilidades{
 display: flex;
 flex-direction: row;

}

#habilidades .nav-link{
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

#habilidades .nav-link:hover{
  color: blueviolet;
}

#contenedorDuras, #contenedorBlandas, #contenedorIdiomas{
  padding: 10px;
}

h3{
  padding: 10px;
}

/* SECCION PROYECTOS */

#proyectos{
  padding: 100px 15px;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
}

#codigo, #demo{
  margin: 35px;
}

/* SECCION FOOTER */

.footer{
  background-color: black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.copy{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  margin:10px;
}

