/* SECCION LOGIN */

#loginModal{
    color: black;
}
form .formulario{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .formulario input{
    width: 140%;
    padding: 0 15px;
    height: 50px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
  }
  
  
  .formulario label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: .5s;
    pointer-events: none;
  }
  
  
  .pass{
    margin: 30px 0 20px 5px;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  
  #btn-login{
    width: 100%;
    height: 50px;
    cursor: pointer;
    outline: none;
  }
  