<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="loginModalLabel">INICIAR SESION</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="post" [formGroup]="form" (ngSubmit)="enviar()" novalidate name="loginForm">
          <div class="modal-body">

               <!-- Username -->
                <div class="formulario">
                  <label for="nombreUsuario" class="col-form-label">Username</label>
                  <div class="">
                    <input type="text" class="form-control" id="nombreUsuario"  formControlName="nombreUsuario" required>
                  </div>
                </div>
                <span *ngIf="campoValido('nombreUsuario')" class="text-danger">Es requerido y debe tener al menos 5 letras</span>

                <!-- <div *ngIf="Nombre?.errors && Nombre?.touched">    
                  <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                    El usuario es requerido.
                  </p>
                </div> -->

                <!-- password -->
                <div class="formulario">
                  <label for="password" class="col-form-label">Contraseña</label>
                  <div class="">
                    <input type="password" class="form-control" id="password" formControlName="password" required>
                  </div>
                </div>
                <span *ngIf="campoValido('password')" class="text-danger">Debe tener al menos 8 caracteres</span>
                <!-- <div *ngIf="Password?.errors && Password?.touched">    
                  <p *ngIf="Password?.hasError('required')" class="text-danger">
                    La contraseña es requerida.
                  </p>
                  <p *ngIf="Password?.hasError('minLength')">
                    La contraseña debe ser de al menos 8 caracteres.
                  </p>
                </div>
       -->
                <div class="pass">
                  ¿No recordás tu contraseña?
                </div>
                <button type="button" id="btn-login" class="btn btn-ligth" (click)="limpiar()">Limpiar</button>

                <button type="submit" id="btn-login" class="btn btn-primary"  [disabled]="form.invalid">Iniciar Sesión</button>
          </div>
        </form>
  </div>
  </div>
</div>