<!-- SECCION PROYECTOS -->

<section id="proyectos">
        <div class="contenedorProyectos">
            <p class="titulo-seccion">MIS PROYECTOS</p>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                <div class="card">
                    <img src="./assets/portfolio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">PORTFOLIO</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="buttons">
                            <a href="https://github.com/GimeDiStefanoN/PortfolioFrontEnd" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                            <a href="https://portfoliobasic.vercel.app/" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/navbar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">NAVBAR</h5>
                    <h6 class="fecha">2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="https://github.com/GimeDiStefanoN/NavBar" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="https://" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/calculadora.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">CALCULADORA</h5>
                    <h6 class="fecha">2021</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="https://github.com/GimeDiStefanoN/CalculadoraDesafio" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">FORMULARIO LOGIN</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    <div class="buttons">
                        <a href="" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">CRUD</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="https://github.com/GimeDiStefanoN/tasksapp" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">ECOMMERCE</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">CLONE WEB</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="./assets/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">API</h5>
                        <h6 class="fecha"> 2022</h6>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="buttons">
                            <a href="" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                            <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
