/* SECCION PROYECTOS */

#proyectos{
    padding: 100px 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
  }

  .titulo-seccion{
    font-size: 30px;
    text-decoration: underline 5px;
    text-decoration-color: rgb(190, 190, 190);
  }
  
  #proyectos .card{
    filter: grayscale(1);
  }
  #proyectos .card:hover{
    filter: grayscale(0);
  }
  
  .buttons{
    display: flex;
    justify-content: center;
  }
  
  #codigo, #demo{
    margin: 35px;
  }

  /*SECCION EDICION*/
.edit{
  display: flex;
  justify-content: flex-end;
}

.edit i{
  margin: 5px 12px;
  font-size: 25px;
}

.buttonedit, .buttonborrar{
border: none;
background-color: transparent;
}