<!-- SECCION PROYECTOS -->
<section id="editProyectos" class="edit">
    <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#agregarProyectosModal"><i class="fa-solid fa-plus"></i></button>
</section>


<section id="proyectos">
        <div class="contenedorProyectos">
            <p class="titulo-seccion">MIS PROYECTOS</p>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                <div class="card">
                    <img src="./assets/img/portfolio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">PORTFOLIO</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="buttons">
                            <a href="https://github.com/GimeDiStefanoN/PortfolioFrontEnd" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                            <a href="https://portfoliobasic.vercel.app/" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                        </div>

                        <div id="editProyectos" class="edit">
                            <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                            <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/img/navbar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">NAVBAR</h5>
                    <h6 class="fecha">2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="https://github.com/GimeDiStefanoN/NavBar" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="https://" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>

                    <div id="editProyectos" class="edit">
                        <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/img/calculadora.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">CALCULADORA</h5>
                    <h6 class="fecha">2021</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="https://github.com/GimeDiStefanoN/CalculadoraDesafio" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>

                    <div id="editProyectos" class="edit">
                        <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/img/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">FORMULARIO LOGIN</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    <div class="buttons">
                        <a href="" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>

                    <div id="editProyectos" class="edit">
                        <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/img/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">CRUD</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="https://github.com/GimeDiStefanoN/tasksapp" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>

                    <div id="editProyectos" class="edit">
                        <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/img/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">ECOMMERCE</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="https://github.com/GimeDiStefanoN/DiStefano-FilhoteShop" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>

                    <div id="editProyectos" class="edit">
                        <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="./assets/img/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">CLONE WEB</h5>
                    <h6 class="fecha"> 2022</h6>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="buttons">
                        <a href="" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                        <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>

                    <div id="editProyectos" class="edit">
                        <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="./assets/img/Preview website.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">API</h5>
                        <h6 class="fecha"> 2022</h6>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="buttons">
                            <a href="" target="_blank" ><button id="codigo" class="btn btn-secondary">Código</button></a>
                            <a href="" target="_blank" ><button id="demo" class="btn btn-secondary">Demo</button></a>
                    </div>

                    <div id="editProyectos" class="edit">
                        <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editProyectosModal"><i class="fa-solid fa-pencil"></i></button>
                        <button class="buttonborrar" type="button" data-bs-toggle="modal" data-bs-target="#borrarProyectosModal"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- aca va el modal de edicion -->
<app-modal-add-proyectos></app-modal-add-proyectos>
<app-modal-edit-proyectos></app-modal-edit-proyectos>
