  /* SECCION HABILIDADES */

#habilidades{
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(45deg, blueviolet, pink);
  }

  .titulo-seccion{
    font-size: 30px;
    text-decoration: underline 5px;
    text-decoration-color: rgb(190, 190, 190);
  }
  
  #habilidades ul.col3{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
  }
  
  #listaHabilidades{
   display: flex;
   flex-direction: row;
  
  }
  
  #habilidades .nav-link{
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .detailsHabilidad{
    list-style: none;
  }
  #habilidades .nav-link:hover{
    color: blueviolet;
  }
  
  
  .contenedorDuras, .contenedorBlandas, .contenedorIdiomas{
    display: none;
    padding: 10px;
  }
  #duras:hover .contenedorDuras, #blandas:hover .contenedorBlandas, #idiomas:hover .contenedorIdiomas { display:block }
  
  
  h3{
    padding: 10px;
  }

  /*SECCION EDICION*/
.edit{
  display: flex;
  justify-content: flex-end;
}

.edit i{
  margin: 5px 12px;
  font-size: 25px;
}

.buttonedit, .buttonborrar{
border: none;
background-color: transparent;
}

#editHabilidades{
  background: linear-gradient(45deg, blueviolet, pink);

}