/* SECCION FOOTER */

#footer{
    width: 100%;
    position: sticky; /*con esto fijo el footer al fondo de la pagina*/
    bottom: 0;      /*con esto fijo el footer al fondo de la pagina*/
  }

  #footer nav{
    padding: 0;
  }
  #copy{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    /* margin:5px; */
  }
  
  #redes a{
    font-size: 20px;
    margin: 0 10px;
    color: white;
  }
  #redes a:hover{
    color: blueviolet;
  }
  