  <!-- SECCION FOOTER -->

<section id="fin" class="fin">
    <!-- FOOTER -->
    <footer id="footer">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container-fluid">
                <!-- DERECHOS -->
                <span class="mb-3 mb-md-0" id="copy">Todos los derechos reservados GDN Dev © - 2022</span>
        
                    <!--LINEA DIVISORIA -->
                    <hr class="text-white-50">

                    <!-- ENLACES A REDES SOCIALES -->
                    <ul class="navbar-nav flex-row flex-wrap" id="redes">
                        <li class="navbar-item col-6 col-md-auto p-3">
                        <a href="https://github.com/GimeDiStefanoN" target="_blank" rel="github"><i class="bi bi-github"></i></a> 
                        <small class="d-lg-none ms-2">GitHub</small>
                        </li>
                        <li class="navbar-item col-6 col-md-auto p-3">
                            <a href="https://www.linkedin.com/in/gimena-di-stefano-nicolina/" target="_blank" rel="linkedin"><i class="bi bi-linkedin"></i></a> 
                            <small class="d-lg-none ms-2">Linkedin</small>
                        </li>
                    </ul>                   
            </div>
        </nav>
    </footer>
</section>