/* SECCION SOBRE MI */

#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  #sobremi div{
    width: 100%;
    padding: 10px;
  }
  
  .contenedor-foto{
    max-width: 500px;
    margin-right: 65px;
  }
  
  .contenedor-foto img{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(190, 190, 190);
  }
  
  .descripcion2{
  text-align: center;}
  
  .titulo-seccion{
    font-size: 30px;
    text-decoration: underline 5px;
    text-decoration-color: rgb(190, 190, 190);
  }
  
  .nombre-completo{
    font-size: 2em;
    font-weight: bold;
    margin: 25px 5px;
    letter-spacing: 3px;
  
  }
  .nombre-completo span{
    color: rgb(243, 8, 51);
    font-size: 1em;
    width: 100vw;
  
  
  }
  
  .titulo{
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }
  
  .text-descripcion{
    font-size: 1em;
    line-height: 35px;
    margin-bottom: 12px;
  }

  /*SECCION EDICION*/
.edit{
  display: flex;
  justify-content: flex-end;
}

.edit i{
  margin: 5px 12px;
  font-size: 25px;
}

.buttonedit{
border: none;
background-color: transparent;
}