/* SECCION EDUCACION */

#educacion{
    padding: 100px 15px;
    text-align: center;
    background-color: rgb(240, 236, 236);
  }

  .titulo-seccion{
    font-size: 30px;
    text-decoration: underline 5px;
    text-decoration-color: rgb(190, 190, 190);
  }
  
  ul.timeline {
    list-style-type: none;
    position: relative;
  }
  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline > li {
    margin: 80px 0;
    padding-left: 20px;
  }
  ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid blueviolet;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }
  
  .title-educacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
  
  }
  
  .logo-educacion{
    margin-right: 20px;
  }
  
  .fecha{
    display: flex;
    justify-content: end;
    font-weight: bold;
  }