<div class="container custom-404">
    <div class="not-found-bg">
      <img src="https://preview.ibb.co/d2fA19/404_error.png">
    </div>
    <div class="search">
      <div class="search-wrapper">
        <div class="search-help-text">
          <img src="https://image.ibb.co/hNh18p/404_worry.png">
          <h4>LO SENTIMOS</h4>
          <p>El enlace puede estar roto o ya no existe</p>
          <p>Intenta de nuevo regresando al 
            <a href="#" routerLink="/">INICIO</a>,
        </div>
      </div>
    </div>
</div>