<!-- MODAL EDITAR --> 
<div class="modal fade" id="editProyectosModal" tabindex="-1" aria-labelledby="editProyectosModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form>
            <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Editar imagen Poyecto:</label>
            <input type="url" class="form-control" id="recipient-name" placeholder="Ingresá la URL">
            </div>
            <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Editar Nombre del proyecto:</label>
            <input type="text" class="form-control" id="recipient-name" >
            </div>
            <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Editar Fecha:</label>
            <input type="date" class="form-control" id="recipient-date">
            </div>
            <div class="mb-3">
            <label for="message-text" class="col-form-label">Editar descripcion:</label>
            <textarea class="form-control" id="message-text" placeholder="Ejemplo: Herramientas utilizadas, funcionalidad"></textarea>
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Editar Link Codigo:</label>
                <input type="url" class="form-control" id="recipient-name" placeholder="Ingresá link del codigo">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Editar Link Demo:</label>
                <input type="url" class="form-control" id="recipient-name" placeholder="Ingresá link del Demo">
            </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary">GUARDAR</button>
        </div>
    </div>
    </div>
</div>