 <!-- MODAL EDITAR --> 
 <div class="modal fade" id="editHabilidadesModal" tabindex="-1" aria-labelledby="editHabilidadesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Seleccionar categoria:</label>
                <select name="categoria" class="form-control" id="recipient-categoria">
                    <option selected disabled>Elegir una opcion</option>
                    <option value="duras">Habilidades Duras</option>
                    <option value="blandas">Habilidades Blandas</option>
                    <option value="idiomas">Idiomas</option>
                </select>
            </div>
            <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Editar habilidad:</label>
            <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Editar porcentaje de conocimiento:</label>
            <input type="number" class="form-control" id="recipient-number">
            </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary">GUARDAR</button>
        </div>
    </div>
    </div>
</div>