 <!-- MODAL AGREGAR -->
 <div class="modal fade" id="agregarExperienciaModal" tabindex="-1" aria-labelledby="agregarExperienciaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" [formGroup]="form" (ngSubmit)="enviar()" novalidate name="editForm">
            <div class="modal-body">
                <div class="mb-3">
                  <label for="logo" class="col-form-label">Imagen Empresa:</label>
                  <input type="url" class="form-control" id="logo" placeholder="Ingresá la URL" formControlName="logo">
                </div>
                <span *ngIf="campoValido('logo')" class="text-danger">Se debe completar con la URL de una imagen</span>

                <div class="mb-3">
                  <label for="puesto" class="col-form-label">Puesto laboral:</label>
                  <input type="text" class="form-control" id="puesto" placeholder="Puesto laboral" formControlName="puesto">
                </div>
                <span *ngIf="campoValido('puesto')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                  <label for="inicio" class="col-form-label">Fecha Inicio:</label>
                  <input type="date" class="form-control" id="inicio" formControlName="inicio">
                </div>
                <span *ngIf="campoValido('inicio')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                  <label for="fin" class="col-form-label">Fecha Finalizacion:</label>
                  <input type="date" class="form-control" id="fin" formControlName="fin">
                </div>
                <span *ngIf="campoValido('fin')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                  <label for="descripcion" class="col-form-label">Descripcion:</label>
                  <textarea class="form-control" id="descripcion" formControlName="descripcion"></textarea>
                </div>
                <span *ngIf="campoValido('descripcion')" class="text-danger">Es requerido</span>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid">AGREGAR</button>
            </div>
        </form>
      </div>
    </div>
  </div>