<div class="container custom-404">
    <div class="not-found-bg">
      <img src="https://preview.ibb.co/d2fA19/404_error.png">
    </div>
    <div class="search">
      <div class="search-wrapper">
        <div class="search-help-text">
          <img src="https://image.ibb.co/hNh18p/404_worry.png">
          <h4>Don't worry</h4>
          <p>We are here to help you out</p>
          <p>You may go back to
            <a href="#" routerLink="/">Home</a>,
        </div>
      </div>
    </div>
</div>