   <!-- SECCION BANNER -->

<section id="banner" class="banner">
    <div class="presentacion">
        <p class="bienvenida">BIENVENIDOS</p>
        <h1 class="descripcion">Soy <span>{{miPortfolio.nombre}} {{miPortfolio.apellido}}</span>,</h1>
        <h2 class="tituloPresentacion"> {{miPortfolio.puesto}}</h2>
        <p class="frase">{{miPortfolio.frase}}</p>
    </div>
  </section>

  <section id="editPresentacion" class="edit">
    <button class="buttonedit" type="button" data-bs-toggle="modal" data-bs-target="#editPresentacionModal"><i class="fa-solid fa-pencil"></i></button>
  </section>

  <!-- aca va el modal de edicion -->
  <app-modal-banner></app-modal-banner>