 <!-- MODAL AGREGAR -->
 <div class="modal fade" id="agregarHabilidadesModal" tabindex="-1" aria-labelledby="agregarHabilidadesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" [formGroup]="form" (ngSubmit)="enviar()" novalidate name="editForm">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="categoria" class="col-form-label">Seleccionar categoria:</label>
                    <select name="categoria" class="form-control" id="categoria" formControlName="categoria">
                        <option selected disabled>Elegir una opcion</option>
                        <option value="duras">Habilidades Duras</option>
                        <option value="blandas">Habilidades Blandas</option>
                        <option value="idiomas">Idiomas</option>
                    </select>
                </div>
                <span *ngIf="campoValido('categoria')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                <label for="nombre" class="col-form-label">Habilidad:</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                </div>
                <span *ngIf="campoValido('nombre')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                <label for="porcentaje" class="col-form-label">Porcentaje de conocimiento:</label>
                <input type="number" class="form-control" id="porcentaje" formControlName="porcentaje">
                </div>
                <span *ngIf="campoValido('porcentaje')" class="text-danger">Es requerido. Debe ser un valor entre 0 y 100</span>

            </div>

            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">AGREGAR</button>
            </div>
        </form>
    </div>
    </div>
</div>