 <!-- MODAL EDIT PRESENTACION -->

 <div class="modal fade" id="editPresentacionModal" tabindex="-1" aria-labelledby="editPresentacionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" [formGroup]="form" (ngSubmit)="enviar()" novalidate name="editForm">
            <div class="modal-body">
                
                <div class="mb-3">
                  <label for="imgBanner" class="col-form-label">Editar imagen Banner:</label>
                  <input type="url" class="form-control" id="imgBanner" placeholder="Ingresá la URL" formControlName="banner">
                </div>
                <span *ngIf="campoValido('banner')" class="text-danger">Se debe completar con la URL de una imagen</span>


                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Editar Nombre:</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombres completos" formControlName="nombre">
                </div>
                <span *ngIf="campoValido('nombre')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Editar Apellido:</label>
                  <input type="text" class="form-control" id="apellido" placeholder="Apellidos completos" formControlName="apellido">
                </div>
                <span *ngIf="campoValido('apellido')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Editar Puesto:</label> 
                  <input type="text" class="form-control" id="puesto" placeholder="Puesto laboral" formControlName="puesto">
                </div>
                <span *ngIf="campoValido('puesto')" class="text-danger">Es requerido</span>

                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Editar Frase:</label>
                  <textarea class="form-control" id="frase"></textarea>
                </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid">GUARDAR</button>
            </div>
        </form>
      </div>
    </div>
  </div>