.banner {
    background-image: url(../../../assets/banner_portfolio.jpeg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
  }
  
  .presentacion{
    max-width: 1100rem;
    height: 100vh;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bienvenida{
    font-size: 1em;
    margin-bottom: 20px;
    letter-spacing: 5px;
  }
  
  .descripcion h1{
    font-size: 0.7em;
  }
  .descripcion span{
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(228, 21, 62);
  }
  
  .tituloPresentacion{
  padding: 2vw;
  font-size: 1.5em;
  
  }
  
  .frase{
    font-size: 1.1em;
    font-family: cursive;
    padding-right: 10vw;
  }